$hover-color:  rgba(35, 74, 124, 0.192)
$light-bg: rgba(120, 152, 182, 0.068)
$darker-bg: rgba(120, 152, 182, 0.2)
$delete-color: rgba(200, 85, 85, .8)
$primary-color: blueviolet
$fg-1: rgb(41, 18, 35)

%flexed
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center


*
    margin: 0px
    padding: 0px
    box-sizing: border-box
    border: 
    font-family: Trebuchet MS

.hint
    position: absolute
    font-size: 60%
    top: -10px
    right: -55px
    border: 1px solid white
    padding: 3px
    border-radius: 5px 5px 5px 0px  

.sidebar
    background: $primary-color
    color: white
    z-index: 20
    position: fixed
    width: 100%
    height: 200px
    @media screen and (min-width:700px)
        height: 100%
        width: 200px
        .content-wrapper
            margin: 50px auto
            &.used
                 margin-top: 60px
           
    .budget
        text-align: right
        padding: 8px 8px
        &-currency
            position: relative 
            &__field
                padding: 10px
            &__list
                position: absolute
                bottom: -95px
                left: 0px
                box-shadow: black 0px 0px 8px 0px
                color: $primary-color
                background: white
                text-align: center
                font-size: 14px
                span
                    display: block
                    padding: 3px 2px
                    &:hover
                        background: $hover-color
        &__amount
            padding: 5px
            width: 100px
            border: 0px
            background: transparent
            color: white
            &::placeholder
                color: white
                opacity: .7
    .content-wrapper
        text-align: center
        padding: 5px
        h2
            font-size: 2.4rem
    .new-budget
        position: absolute
        bottom: 0px
        left: 0px
        padding: 5px 8px
        &:hover
            background: $hover-color

.notification
    position: fixed
    box-shadow: lightgray 1px 1px 40px 1px
    padding: 8px
    background: $fg-1
    color: white 
    &--error
        color: red
    &__icon
    &__msg
    &__delete-btn


.main-wrapper
    padding-top: 200px
    position: relative
    
    
    @media screen and (min-width:700px)
        padding:
            top: 0px
            left: 200px


.itemlist
    margin: 10px auto
    max-height: 350px
    padding: 20px
    &::-webkit-scrollbar-thumb
        width: 5px
        background: black
    @media screen and (min-width:700px)
        max-width: 450px
    &__title
        font-weight: bold
        display: flex
        text-align: center
        justify-content: space-between
        span
            padding: 10px
            display: inline-block
            text-align: center
            width: 100px

.item
    margin: 20px auto
    position: relative
    &:first-child
            margin-top: 10px
    &-wrapper
        display: flex
        align-items: center
        justify-content: space-between        
    &-delete
        display: none
        left: 110%
        border-radius: 100%
        top: 8px
        width: 22px
        height: 22px
        transition: .4s ease-in-out
        background: $delete-color
        opacity: 0
    &:hover &-delete
        opacity: 1
    &-cell
        width: 100px
        padding: 10px
        display: inline-block
        text-align: center
        border-radius: 0px
        border: 1px solid lightgray
        transition: .4s ease-in-out
        background: $light-bg
        &:focus
            border: 1px solid lightgray
            outline: 0px
        &.warn
            color: yellow
            border: .8px solid yellow
        &.error
            color: red
            border: .9px solid red
        &:first-child
            text-align: left
        &:last-child
            text-align: right
    .size-indicator-wrapper
        margin: 5px 0px
        width: 100%
        font-size: 12px
        display: flex
        align-items: center
        justify-content: flex-start
        @media screen and (min-width:700px)
            font-size: 14px
            position: relative
        .size-indicator
            height: 2px
            background: $darker-bg
            margin: 0px 5px
            position: relative
            font-size: 80%
            display: inline-block
            position: relative
            border-radius: 10px
            transition: width .5s ease-in-out
        
            
.f-button
    $size: 40px
    position: fixed
    border-radius: 100%
    display: flex
    background: $primary-color
    color: white
    font-size: $size/1.5
    justify-content: center
    align-items: center
    width: $size
    height: $size
    cursor: pointer
    &-small
        width: $size / 2
        height: $size / 2
    &-big
        width: $size * 2
        height: $size * 2
    &.button-add
        bottom: 5px
        right: 13px
    &.button-help
        left: 10px
        bottom: $size * 1.5


.docbar
    bottom: 0px
    background: $darker-bg
    width: 100%
    margin: 0px
    display: none
    @media (min-width:700px)
        display: block

    &__wrapper
        @extend %flexed
        padding: 5px
        justify-content: space-between
    
    
    
.budg
    display: block
    &__title
        padding: 5px 10px
        position: relative
    &__expand-btn
        color: $primary-color
    &__list
        list-style-type: none
        position: absolute
        width: 100%
        
    &__doc
        padding: 5px 3px
        position: relative
    &__docname
        font:
            weight: bold
            size: 1.3em
    &__doctimestamp
        font: .8em
        text-align: right
    &__doc-contextmenu
        position: absolute
    &__doc-contextmenu-item
        font-weight: bold
    
    &__actions-wrapper
    
    &__action
        padding: 2px 5px
        
.budg
    display: block
    position: fixed
    left: 5px
    top: 5px
    @media (min-width:700px)
        display: none
    &__title
        
    &__list

.action-bar
    position: fixed
    bottom: 5px
    display: none
    justify-content: space-between
    padding: 10px
    width: 100px
    max-width: 200px
    @media (min-width:700px)
        display: flex



.budget
    list-style-type: none
    color: white
    padding: 10px 25px
    background: rgba(87, 0, 108, 0.965)
    &__title-wrapper
        @extend %flexed
        flex-flow: row nowrap
        justify-content: space-between
        h3
            max-width: 70%
            font:
                weight: normal
                size: 16px
    &__timestamp
        text-align: right
        font-size: 60%

.mobile-nav
    $fg-1: rgb(102, 0, 128)
    $fg-2: "#790098ff"
    $fg-faint: "#8200a358"
    
    
    background: transparent
    position: fixed
    top: 0px
    background:  
    width: 180px
    
    z-index: 30
    @media (min-width: 700px)
        display: none
    &__nav-trigger

.navbar
    background: rgb(102, 0, 128)
    height: 100%
    position: fixed
    top: 0px
    width: 220px
    &__top-wrapper
        
    .budget-wrapper
        @extend %flexed
        color: white
        padding: 5px 20px
        background: rgba(107, 27, 90, 0.286)
        justify-content: space-between
        h3
            padding: 10px 30px
            border-radius: 20px
            max-width: 150px
            background-color: rgba(130, 0, 163, 0.345)
        .expand-btn
            text-align: center
            display: inline-block
            width: 20px
            height: 20px
            border-radius: 100%
    &__action-wrapper
        padding-top: 30px
    &__action
        padding: 20px 20px
        color: white
        width: 100%
        transition: .4s ease-in-out
        &:hover
            background: rgba(130, 0, 163, 0.345)
        .icon
        .title
            

