$hover-color:  rgba(35, 74, 124, 0.192);

*
    margin: 0px
    padding: 0px
    border: 1px solid red
    font-family: OCR A

.hint
    position: absolute
    font-size: 60%
    top: -10px
    right: -55px
    border: 1px solid white
    padding: 3px
    border-radius: 5px 5px 5px 0px  

.sidebar
    background: blueviolet
    color: white
    position: fixed
    width: 100%
    height: 200px
    @media screen and (min-width:700px)
        height: 100%
        width: 200px
        .content-wrapper
            margin: 50px auto
            &.used
                 margin-top: 60px
           
    .budget
        text-align: right
        padding: 8px 8px
        &-currency
            position: relative 
            &__field
                padding: 10px
            &__list
                position: absolute
                bottom: -95px
                left: 0px
                box-shadow: black 1px 1px 8px 1px
                color: blueviolet
                background: white
                text-align: center
                span
                    display: block
                    padding: 3px 2px
                    &:hover
                        background: $hover-color
        &__amount
            padding: 5px
            width: 100px
            border: 0px
            background: transparent
            color: white
            &::placeholder
                color: white
                opacity: .7
    .content-wrapper
        text-align: center
        padding: 5px
        h2
            font-size: 2.4rem
    .new-budget
        position: absolute
        bottom: 0px
        left: 0px
        padding: 5px 8px
        &:hover
            background: $hover-color

.content-wrapper
    padding-top: 200px
    @media screen and (min-width:700px)
        padding:
            top: 0px
            left: 200px


.itemlist
    padding: 20px
    &__title
        font-weight: bold
        display: flex
        max-width: 100px
        justify-content: space-between

.item
    &-wrapper
        display: flex
        align-items: center
        justify-content: space-between
    &-cell
        max-width: 100px

    